@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');

.homePage{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: gray;
    font-family: "El Messiri";
}

.homePage h1 {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3vw;
}