@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');

.homePage{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../assets/BackgroundHomePage.jpg) no-repeat center;
    background-size: cover;
    font-family: "El Messiri";
    color: black;
    -webkit-text-stroke: 1px yellow;
}

.homePage h1 {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5vw;
}

.buttonMemoryGame{
    width: 30vw;
    height: 5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: blueviolet;
    background: mediumseagreen;
    border-radius: 10px;
    border: solid 5px gold;
    font-size: 3vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 1px yellow;
    cursor: pointer;
}

.buttonMemoryGame:active{
    filter: drop-shadow( 1vw 1vw 1vw black);
    background: mediumspringgreen;
}

.buttonSortingGame{
    width: 30vw;
    height: 5vw;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: teal;
    background: mediumslateblue;
    border-radius: 10px;
    border: solid 5px gold;
    font-size: 3vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 1px yellow;
    cursor: pointer;
}

.buttonSortingGame:active{
    filter: drop-shadow( 1vw 1vw 1vw black);
    background: mediumorchid
}

@media (max-width: 480px) {

.buttonMemoryGame{
    width: 50vw;
    height: 20vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: blueviolet;
    background: mediumseagreen;
    border-radius: 10px;
    border: solid 2px gold;
    font-size: 6vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 1px darkblue;
    cursor: pointer;
}

.buttonSortingGame{
    width: 50vw;
    height: 20vw;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: teal;
    background: mediumslateblue;
    border-radius: 10px;
    border: solid 2px gold;
    font-size: 6vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 1px yellow;
    cursor: pointer;
}

}

@media (min-width: 481px) and (max-width: 768px) {

.buttonMemoryGame{
    width: 50vw;
    height: 20vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: blueviolet;
    background: mediumseagreen;
    border-radius: 10px;
    border: solid 2px gold;
    font-size: 6vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 1px darkblue;
    cursor: pointer;
}

.buttonSortingGame{
    width: 50vw;
    height: 20vw;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: teal;
    background: mediumslateblue;
    border-radius: 10px;
    border: solid 2px gold;
    font-size: 6vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 1px yellow;
    cursor: pointer;
}
    
}

@media (min-width: 769px) and (max-width: 1024px)  {

.buttonMemoryGame{
    width: 50vw;
    height: 20vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: blueviolet;
    background: mediumseagreen;
    border-radius: 10px;
    border: solid 2px gold;
    font-size: 6vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 1px darkblue;
    cursor: pointer;
}

.buttonSortingGame{
    width: 50vw;
    height: 20vw;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: teal;
    background: mediumslateblue;
    border-radius: 10px;
    border: solid 2px gold;
    font-size: 6vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 1px yellow;
    cursor: pointer;
}

}