.gamePage{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url(../assets/MatchThreeGameImages/BackgroundGamePage.jpg) center no-repeat;
    background-size: cover;
}

.gameField{
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url(../assets/MatchThreeGameImages/BackgroundFields.jpg) center no-repeat;
    background-size: cover;
    border-left: solid rgb(67, 58, 38) 3px;
    border-right: solid rgb(67, 58, 38) 3px;
}

.levelPointer{
    position: absolute;
    bottom: 2%;
    left: 0.5%;
    margin: 0;
    color: springgreen;
    font-family: "El Messiri";
    font-size: 1.8vw;
    font-weight: 600;
    filter: drop-shadow( 0 0 3px black);
}

.fields {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);   
    display: flex; 
    flex-direction: column;   
    align-items: center; 
}

.fieldH1{
    width: 70%;
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
    justify-content: center;
}

.fieldH2{
    width: 70%;
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
    justify-content: center;
}

.fieldH3{
    width: 70%;
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
    justify-content: center;
}

.fieldH4{
    width: 70%;
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
    justify-content: center;
}

.fieldH5{
    width: 70%;
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
    justify-content: center;
}

.fieldH6{
    width: 70%;
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
    justify-content: center;
}

.timer{
    position: absolute;
    top: 1%;
    left: 0.5%;
    font-family: "El MEssiri";
    font-size: 3.3vw;
    font-weight: 700;
    color: springgreen;
    -webkit-text-stroke: 1px black;
    filter: drop-shadow( 0 0 3px black);
}

.timer p{
    width: 50%;
    font-size: 1.5vw;
    -webkit-text-stroke: 0px black;
}

.leftPlateStart{
    width: 50vw;
    height: 50vw;
    position: absolute;
    top: 0;
    left: 18.5%;
    background: url(../assets/MatchThreeGameImages/Plate.png) no-repeat;
    background-size: cover;
    margin: 0;
    z-index: 2;
    animation: openingLeftPlate 2s forwards;
}

.leftPlateEnd{
    width: 50vw;
    height: 50vw;
    position: absolute;
    top: 0;
    left: 18.5%;
    background: url(../assets/MatchThreeGameImages/Plate.png) no-repeat;
    background-size: cover;
    margin: 0;
    z-index: 2;
    animation: closingLeftPlate 2s forwards;
}

.rightPlateStart{
    width: 50vw;
    height: 50vw;
    position: absolute;
    top: 0;
    left: 18.5%;
    background: url(../assets/MatchThreeGameImages/Plate.png) no-repeat;
    background-size: cover;
    margin: 0;
    z-index: 2;
    animation: openingRightPlate 2s forwards;
}

@keyframes openingLeftPlate {
    0%, 100% {
        transform: translateX(-190%);
        
    }
    100% {
        transform: translateX(0%) rotate(120deg);
    }
}

@keyframes closingLeftPlate {
    0%, 100% {
        transform: translateX(0%) rotate(120deg);
    }
    100% {
        
        transform: translateX(190%) rotate(240deg);
    }
}

@keyframes openingRightPlate {
    0%, 100% {
        transform: translateX(190%);
        
    }
    100% {
        transform: translateX(0%) rotate(-120deg);
    }
}

.imageInfoIntro{
    width: 21vw;
    position: absolute;
    bottom: 0;
    left: -10%;
    z-index: 3;
}

.imageInfoEnding{
    width: 21vw;
    position: absolute;
    bottom: 0;
    left: -10%;
    z-index: 3;
    animation: opacityShuffleAndEnding 0.5s forwards;
}

.imageInfoIntroOpacity{
    width: 21vw;
    position: absolute;
    bottom: 0;
    left: -10%;
    z-index: 3;
    animation: opacityMenu 0.5s forwards;
}

.infoOverlay{
    width: 22vw;
    height: 23vw;
    position: absolute;
    top: 15%;
    left: 5%;
    margin: 0;
    background: url(../assets/MatchThreeGameImages/OverlayText.png) no-repeat center;
    background-size: contain;
    justify-content: center;
    z-index: 3;
}

.infoOverlayOpacity{
    width: 22vw;
    height: 23vw;
    position: absolute;
    top: 15%;
    left: 5%;
    margin: 0;
    background: url(../assets/MatchThreeGameImages/OverlayText.png) no-repeat center;
    background-size: contain;
    justify-content: center;
    z-index: 3;
    animation: opacityMenu 0.5s forwards;
}

@keyframes opacityMenu {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.info{
    width: 75%;
    font-family: "El Messiri";
    font-weight: 700;
    font-size: 1.5vw;
    text-align: center;
    color: darkolivegreen;
    -webkit-text-stroke: 1px black;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.buttonStart{
    font-family: "El Messiri";
    font-size: 10vw;
    font-weight: 700;
    cursor: pointer;
    color: deepskyblue;
    -webkit-text-stroke: 2px black;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    margin: 0;
    transition: transform 1s ease, color 1s ease, filter 1s ease;
    z-index: 3;
    filter: drop-shadow(0 0 1vw black);
}

.buttonStart:hover{
    filter: drop-shadow(0 0 0 black);
    color: royalblue;
    transform: translate(-50%, -50%) scale(1.1);
}

.buttonRestart{
    color: cyan;
    font-family: "El Messiri";
    font-size: 3vw;
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    z-index: 2;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    cursor: pointer;
    text-align: center;
    transition: transform 1s ease, color 1s ease, filter 1s ease;
    filter: drop-shadow(0 0 1vw black);
}

.buttonRestart:hover{
    filter: drop-shadow( 0 0 0 black);
    color: cyan;
    transform: translate(-50%, -50%) scale(1.1);
}

.buttonNextAndHome{
    color: chartreuse;
    font-size: 3vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    z-index: 2;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    cursor: pointer;
    text-align: center;
    transition: transform 1s ease, color 1s ease, filter 1s ease;
    filter: drop-shadow(0 0 1vw black);
}

.buttonNextAndHome:hover{
    filter: drop-shadow( 0 0 0 black);
    color: chartreuse;
    transform: translate(-50%, -50%) scale(1.1);
}

.shuffleButton{
    width: 8vw;
    height: 10vw;
    position: absolute;
    top: 30%;
    left: 1%;
    animation: opacityShuffleAndEnding 2.5s forwards;
    z-index: 2;
}

@keyframes opacityShuffleAndEnding {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.shuffleButton button{
    width: 8vw;
    height: 8vw;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url(../assets/MatchThreeGameImages/ShuffleArrows.png) no-repeat center;
    background-size: contain;
    cursor: pointer;
    filter: drop-shadow( 0 0 3px black);
    border: none;
}

.shuffleButton button:hover{
    filter: drop-shadow( 0 0 6px black);
}

.shuffleButton p{
    font-family: "El Messeri";
    font-size: 1.5vw;
    font-weight: 700;
    color: springgreen;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow( 0 0 3px black);
}

.shuffleButton img {
    width: 6vw;
    height: 10vw;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    animation: twitching 1s infinite;
}

@keyframes twitching {
    0%, 50%, 100% {
        transform: translateY(0) translateX(-50%);
    }
    50% {
        transform: translateY(30%) translateX(-50%);
    }
    100% {
        transform: translateY(0) translateX(-50%);
    }
}

.winAndLoseModal{
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.winAndLoseModal h3{
    width: 40%;
    font-family: "El MEssiri";
    font-size: 3vw;
    font-weight: 700;
    text-align: center;
    color: plum;
    -webkit-text-stroke: 1px black;
    position: absolute;
    margin: 0;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    filter: drop-shadow(0 0 1vw black);
}

.cellsLeftSide{
    width: 7vw;
    height: 7vw;
    padding: 0;
    margin-left: 11%;
}

.cellsCenterSide{
    width: 7vw;
    height: 7vw;
    padding: 0;
}

.cellsRightSide{
    width: 7vw;
    height: 7vw;
    padding: 0;
    margin-right: 11%;
}

.strawberriesCells{
    width: 100%;
    height: 100%;
    background: url(../assets/MatchThreeGameImages/CellStrawberries.png) center no-repeat;
    background-size: contain;
    border: none;
    filter: drop-shadow(0vw 0.4vw 0.2vw black);
    cursor: pointer;
}

.strawberriesCells:hover{
    opacity: 0.8;
}

.cellMatching{
    width: 100%;
    height: 100%;
    background: url(../assets/MatchThreeGameImages/CellFruits.png) center no-repeat;
    background-size: contain;
    border: none;
    filter: drop-shadow(0vw 0.4vw 0.2vw black);
    animation: 0.7s Shine forwards;
}

@keyframes Shine {
    0%, 10%, 50%, 100% {
        filter: drop-shadow(0vw 0.4vw 0.2vw black);
        opacity: 0.2;

    }
    10% {
        filter: drop-shadow(0vw 0vw 0.2vw aqua);
        opacity: 0.2;
    }
    50% {
        filter: drop-shadow(0vw 0vw 1vw aqua);
        opacity: 1;
    }
    100% {
        filter: drop-shadow(0vw 0.4vw 0.2vw aqua);
        opacity: 0;
    }
}

.pearCells{
    width: 100%;
    height: 100%;
    background: url(../assets/MatchThreeGameImages/CellPear.png) center no-repeat;
    background-size: contain;
    border: none;
    filter: drop-shadow(0vw 0.4vw 0.2vw black);
    cursor: pointer;
}

.pearCells:hover{
    opacity: 0.8;
}

.plumCells{
    width: 100%;
    height: 100%;
    background: url(../assets/MatchThreeGameImages/CellPlum.png) center no-repeat;
    background-size: contain;
    border: none;
    filter: drop-shadow(0vw 0.4vw 0.2vw black);
    cursor: pointer;
}

.plumCells:hover{
    opacity: 0.8;
}

.currantCells{
    width: 100%;
    height: 100%;
    background: url(../assets/MatchThreeGameImages/CellCurrant.png) center no-repeat;
    background-size: contain;
    border: none;
    filter: drop-shadow(0vw 0.4vw 0.2vw black);
    cursor: pointer;
}

.currantCells:hover{
    opacity: 0.8;
}

.seaBuckthornCells{
    width: 100%;
    height: 100%;
    background: url(../assets/MatchThreeGameImages/CellSeaBuckthorn.png) center no-repeat;
    background-size: contain;
    border: none;
    filter: drop-shadow(0vw 0.4vw 0.2vw black);
    cursor: pointer;
}

.seaBuckthornCells:hover{
    opacity: 0.8;
}

.gooseberryCells{
    width: 100%;
    height: 100%;
    background: url(../assets/MatchThreeGameImages/CellGooseberry.png) center no-repeat;
    background-size: contain;
    border: none;
    filter: drop-shadow(0vw 0.4vw 0.2vw black);
    cursor: pointer;
}

.gooseberryCells:hover{
    opacity: 0.8;
}

.emptyCells{
    width: 100%;
    height: 100%;
    background: url(../assets/MatchThreeGameImages/CellEmpty.png) center no-repeat;
    background-size: contain;
    border: none;
    filter: drop-shadow(0vw 0.4vw 0.2vw black);
    cursor: pointer;
}

.strawberriesCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/MatchThreeGameImages/CellStrawberriesChoice.png) center no-repeat;
    background-size: contain;
    border: none;
    filter: drop-shadow(0vw 0.4vw 0.5vw aqua);
    cursor: pointer;
}

.pearCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/MatchThreeGameImages/CellPearChoice.png) center no-repeat;
    background-size: contain;
    border: none;
    filter: drop-shadow(0vw 0.4vw 0.5vw aqua);
    cursor: pointer;
}

.plumCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/MatchThreeGameImages/CellPlumChoice.png) center no-repeat;
    background-size: contain;
    border: none;
    filter: drop-shadow(0vw 0.4vw 0.5vw aqua);
    cursor: pointer;
}

.currantCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/MatchThreeGameImages/CellCurrantChoice.png) center no-repeat;
    background-size: contain;
    border: none;
    filter: drop-shadow(0vw 0.4vw 0.5vw aqua);
    cursor: pointer;
}

.seaBuckthornCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/MatchThreeGameImages/CellSeaBuckthornChoice.png) center no-repeat;
    background-size: contain;
    border: none;
    filter: drop-shadow(0vw 0.4vw 0.5vw aqua);
    cursor: pointer;
}

.gooseberryCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/MatchThreeGameImages/CellGooseberryChoice.png) center no-repeat;
    background-size: contain;
    border: none;
    filter: drop-shadow(0vw 0.4vw 0.5vw aqua);
    cursor: pointer;
}

.pointers{
    height: 100%;
    position: absolute;
    top: 0;
    right: -12.5%;
    display: flex; 
    flex-direction: column;   
    align-items: center; 
}

.pointers img{
    width: 4vw;
    height: 4vw;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    filter: drop-shadow(0.2vw 0.2vw 0.5vw black);
}

.pointers p{
    width: 100%;
    font-family: "El Messeri";
    font-size: 1.3vw;
    font-weight: 700;
    text-align: center;
    color: springgreen;
    filter: drop-shadow(0 0 3px black);
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.scales{
    appearance: none;
    -webkit-appearance: none;
    width: 8vw;
    height: 0.7vw;
    position: absolute;
    bottom: 38%;
    left: 50%;
    transform: translateX(-50%);
    border: solid 0.1vw black;
    margin: 0;
}
  
.scales::-webkit-progress-bar {
    background-color: rgb(189, 189, 189);
    
}
  
.scales::-webkit-progress-value {
    background-color: rgb(37, 37, 154);
}

.pointerBoxOfStrawberries{
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 0%;
    right: 0%;
    display: block;
}

.pointerBoxOfPear{
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 15%;
    right: 0%;
    display: block;
}

.pointerBoxOfPlum{
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 30%;
    right: 0%;
    display: block;
}

.pointerBoxOfCurrant{
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 45%;
    right: 0%;
    display: block;
}

.pointerBoxOfSeaBuckthorn{
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 60%;
    right: 0%;
    display: block;
}

.pointerBoxOfGooseberry{
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 75%;
    right: 0%;
    display: block;
}

.buttonRecipe{
    width: 30%;
    color: pink;
    font-size: 4vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    z-index: 2;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    cursor: pointer;
    text-align: center;
    transition: transform 1s ease, color 1s ease, filter 1s ease;
    filter: drop-shadow(0 0 1vw black);
}

.buttonRecipe:hover{
    filter: drop-shadow( 0vw 0vw 0vw black);
    color: pink;
    transform: translate(-50%, -50%) scale(1.1);
}

.recipeModal{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../assets/MatchThreeGameImages/BackgroundGamePage.jpg) no-repeat center;
    background-size: cover;
    z-index: 4;
    font-family: "El Messiri";
}

.recipeModal img{
    width: 30%;
    position: absolute;
    top: 5%;
    left: 2.5%;
    border: solid wheat 3px;
    border-radius: 10px;
}

.recipeModal h1{ 
    position: absolute;
    top: 1%;
    left: 50%;
    color: gold;
    font-size: 3vw;
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    margin: 0;
}

.recipeModal ol{
    position: absolute;
    top: 12%;
    left: 33%;
    color: gold;
    font-size: 1vw;
    font-weight: 700;
    margin: 0;
}

.recipeModal span{
    width: 60%;
    position: absolute;
    top: 60%;
    left: 34%;
    color: gold;
    font-size: 1vw;
    font-weight: 700;
    margin: 0;
}

.buttonCloseRecipe{
    color: red;
    font-size: 2.5vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    z-index: 2;
    position: absolute;
    bottom: 0%;
    left: 85%;
    transform: translate(-50%, -50%) scale(1);
    cursor: pointer;
    text-align: center;
    transition: transform 1s ease, color 1s ease, filter 1s ease;
    margin: 0;
}

.buttonCloseRecipe:hover{
    filter: drop-shadow( 0vw 0vw 0vw black);
    color: red;
    transform: translate(-50%, -50%) scale(1.1);
}

@media (max-width: 480px) {

.gameField{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-size: cover;
    border-top: solid rgb(67, 58, 38) 3px;
    border-bottom: solid rgb(67, 58, 38) 3px;
    border-left: none;
    border-right: none;
}

.levelPointer{
    position: absolute;
    bottom: 2.5%;
    left: 5%;
    font-size: 8vw;
}

.fields {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);  
    display: flex; 
    flex-direction: column;   
    align-items: center; 
}

.fieldH1{
    width: 100%;
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
    justify-content: center;
}

.fieldH2{
    width: 100%;
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
    justify-content: center;
}

.fieldH3{
    width: 100%;
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
    justify-content: center;
}

.fieldH4{
    width: 100%;
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
    justify-content: center;
}

.fieldH5{
    width: 100%;
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
    justify-content: center;
}

.fieldH6{
    width: 100%;
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
    justify-content: center;
}

.timer{
    width: 100%;
    position: absolute;
    top: 2.5%;
    left: 70%;
    font-size: 8vw;
}

.timer p{
    width: 100%;
    position: absolute;
    top: -40%;
    left: -60%;
    font-size: 6vw;
}

.leftPlateStart{
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 10%;
    left: 0;
}

.leftPlateEnd{
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 10%;
    left: 0;
}

.rightPlateStart{
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 10%;
    left: 0;
}

.imageInfoIntro{
    width: 45vw;
    position: absolute;
    bottom: -14%;
    left: 0%;
}

.imageInfoEnding{
    width: 45vw;
    position: absolute;
    bottom: -14%;
    left: 0%;
}

.imageInfoIntroOpacity{
    width: 45vw;
    position: absolute;
    bottom: -14%;
    left: 0%;
}

.infoOverlay{
    width: 57vw;
    height: 58vw;
    position: absolute;
    top: 65%;
    left: 35%;
}

.infoOverlayOpacity{
    width: 57vw;
    height: 58vw;
    position: absolute;
    top: 65%;
    left: 35%;
}

.info{
    width: 80%;
    font-size: 4vw;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.buttonStart{
    font-size: 18vw;
    position: absolute;
    top: 40%;
    left: 50%;
}

.buttonRestart{
    font-size: 7.5vw;
    position: absolute;
    top: 45%;
    left: 50%;
}

.buttonNextAndHome{
    width: 100%;
    font-size: 7.5vw;
    position: absolute;
    top: 55%;
    left: 50%;
}

.shuffleButton{
    position: absolute;
    top: 90%;
    left: 85%;
}

.shuffleButton button{
    width: 12vw;
    height: 12vw;
}

.shuffleButton p{
    font-size: 3.5vw;
    position: absolute;
    top: 70%;
    left: 50%;
}

.shuffleButton img {
    width: 10vw;
    height: 14vw;
    position: absolute;
    top: 65%;
    left: -250%;
    rotate: 90deg;
}

.winAndLoseModal{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.winAndLoseModal h3{
    width: 100%;
    font-size: 8vw;
    position: absolute;
    margin: 0;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.cellsLeftSide{
    width: 12.5vw;
    height: 12.5vw;
    padding: 0;
    margin: 0;
}

.cellsCenterSide{
    width: 12.5vw;
    height: 12.5vw;
    padding: 0;
    margin: 0;
}

.cellsRightSide{
    width: 12.5vw;
    height: 12.5vw;
    padding: 0;
    margin: 0;
}

.pointers{
    height: 100%;
    width: 100%;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex; 
    flex-direction: column;   
    align-items: center; 
}

.pointers img{
    width: 13vw;
    height: 13vw;
    position: absolute;
    top: 0%;
    left: 50%;
}

.pointers p{
    font-size: 3.5vw;
    position: absolute;
    top: 80%;
    left: 50%;
}

.scales{
    width: 18vw;
    height: 2vw;
    position: absolute;
    bottom: 20%;
    left: 50%;
}

.pointerBoxOfStrawberries{
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 10%;
    left: 10%;
}

.pointerBoxOfPear{
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.pointerBoxOfPlum{
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 10%;
    right: 10%;
}

.pointerBoxOfCurrant{
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 25%;
    left: 10%;
}

.pointerBoxOfSeaBuckthorn{
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.pointerBoxOfGooseberry{
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 25%;
    right: 10%;
}

.buttonRecipe{
    width: 100%;
    font-size: 8vw;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.recipeModal{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../assets/MatchThreeGameImages/BackgroundGamePage.jpg) no-repeat center;
    background-size: cover;
    z-index: 4;
    font-family: "El Messiri";
}

.recipeModal img{
    width: 40%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    border: solid wheat 2px;
    border-radius: 10px;
}

.recipeModal h1{ 
    width: 100%;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    color: gold;
    font-size: 7vw;
    font-weight: 700;
    text-align: center;
    -webkit-text-stroke: 0 black;
    margin: 0;
}

.recipeModal ol{
    position: absolute;
    top: 40%;
    left: 0%;
    color: gold;
    font-size: 2vw;
    font-weight: 700;
    margin: 0;
}

.recipeModal span{
    width: 80%;
    position: absolute;
    top: 68%;
    left: 10%;
    color: gold;
    font-size: 2vw;
    font-weight: 700;
    margin: 0;
}

.buttonCloseRecipe{
    color: red;
    font-size: 4vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 0 black;
    z-index: 2;
    position: absolute;
    bottom: 0%;
    left: 80%;
    transform: translate(-50%, -50%) scale(1);
    cursor: pointer;
    text-align: center;
    transition: transform 1s ease, color 1s ease, filter 1s ease;
    margin: 0;
}

}

@media (min-width: 481px) and (max-width: 768px) {

.gameField{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-size: cover;
    border-top: solid rgb(67, 58, 38) 3px;
    border-bottom: solid rgb(67, 58, 38) 3px;
    border-left: none;
    border-right: none;
}

.levelPointer{
    position: absolute;
    bottom: 0%;
    left: 5%;
    font-size: 7vw;
}

.fields {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translateX(-50%);  
    display: flex; 
    flex-direction: column;   
    align-items: center; 
}

.fieldH1{
    width: 100%;
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
    justify-content: center;
}

.fieldH2{
    width: 100%;
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
    justify-content: center;
}

.fieldH3{
    width: 100%;
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
    justify-content: center;
}

.fieldH4{
    width: 100%;
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
    justify-content: center;
}

.fieldH5{
    width: 100%;
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
    justify-content: center;
}

.fieldH6{
    width: 100%;
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
    justify-content: center;
}

.timer{
    width: 100%;
    position: absolute;
    top: 2.5%;
    left: 65%;
    font-size: 7vw;
}

.timer p{
    width: 100%;
    position: absolute;
    top: -35%;
    left: -50%;
    font-size: 5vw;
}

.leftPlateStart{
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 0%;
    left: 0;
}

.leftPlateEnd{
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 0%;
    left: 0;
}

.rightPlateStart{
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 0%;
    left: 0;
}

.imageInfoIntro{
    width: 30vw;
    position: absolute;
    bottom: -14%;
    left: 0%;
}

.imageInfoEnding{
    width: 30vw;
    position: absolute;
    bottom: -14%;
    left: 0%;
}

.imageInfoIntroOpacity{
    width: 30vw;
    position: absolute;
    bottom: -14%;
    left: 0%;
}

.infoOverlay{
    width: 40vw;
    height: 41vw;
    position: absolute;
    top: 65%;
    left: 22%;
}

.infoOverlayOpacity{
    width: 40vw;
    height: 41vw;
    position: absolute;
    top: 65%;
    left: 22%;
}

.info{
    width: 80%;
    font-size: 3vw;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.buttonStart{
    font-size: 18vw;
    position: absolute;
    top: 48%;
    left: 50%;
}

.buttonRestart{
    font-size: 7vw;
    position: absolute;
    top: 40%;
    left: 50%;
}

.buttonNextAndHome{
    width: 100%;
    font-size: 7vw;
    position: absolute;
    top: 50%;
    left: 50%;
}

.shuffleButton{
    position: absolute;
    top: 90%;
    left: 85%;
}

.shuffleButton button{
    width: 10vw;
    height: 10vw;
}

.shuffleButton p{
    font-size: 3vw;
    position: absolute;
    top: 55%;
    left: 50%;
}

.shuffleButton img {
    width: 8vw;
    height: 12vw;
    position: absolute;
    top: 50%;
    left: -250%;
    rotate: 90deg;
}

.winAndLoseModal{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.winAndLoseModal h3{
    width: 80%;
    font-size: 7vw;
    position: absolute;
    margin: 0;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.cellsLeftSide{
    width: 11vw;
    height: 11vw;
    padding: 0;
    margin: 0;
}

.cellsCenterSide{
    width: 11vw;
    height: 11vw;
    padding: 0;
    margin: 0;
}

.cellsRightSide{
    width: 11vw;
    height: 11vw;
    padding: 0;
    margin: 0;
}

.pointers{
    height: 100%;
    width: 100%;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex; 
    flex-direction: column;   
    align-items: center; 
}

.pointers img{
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 0%;
    left: 50%;
}

.pointers p{
    font-size: 3vw;
    position: absolute;
    top: 65%;
    left: 50%;
}

.scales{
    width: 18vw;
    height: 1.5vw;
    position: absolute;
    bottom: 35%;
    left: 50%;
}

.pointerBoxOfStrawberries{
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 10%;
    left: 10%;
}

.pointerBoxOfPear{
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.pointerBoxOfPlum{
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 10%;
    right: 10%;
}

.pointerBoxOfCurrant{
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 25%;
    left: 10%;
}

.pointerBoxOfSeaBuckthorn{
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.pointerBoxOfGooseberry{
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 25%;
    right: 10%;
}

.buttonRecipe{
    width: 100%;
    font-size: 7vw;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.recipeModal{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../assets/MatchThreeGameImages/BackgroundGamePage.jpg) no-repeat center;
    background-size: cover;
    z-index: 4;
    font-family: "El Messiri";
}

.recipeModal img{
    width: 40%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    border: solid wheat 2px;
    border-radius: 10px;
}

.recipeModal h1{ 
    width: 100%;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    color: gold;
    font-size: 6vw;
    font-weight: 700;
    text-align: center;
    -webkit-text-stroke: 1px black;
    margin: 0;
}

.recipeModal ol{
    position: absolute;
    top: 45%;
    left: 0%;
    color: gold;
    font-size: 1.8vw;
    font-weight: 700;
    margin: 0;
}

.recipeModal span{
    width: 45%;
    position: absolute;
    top: 45%;
    left: 52.5%;
    color: gold;
    font-size: 1.8vw;
    font-weight: 700;
    margin: 0;
}

.buttonCloseRecipe{
    color: red;
    font-size: 4vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    z-index: 2;
    position: absolute;
    bottom: 0%;
    left: 80%;
    transform: translate(-50%, -50%) scale(1);
    cursor: pointer;
    text-align: center;
    transition: transform 1s ease, color 1s ease, filter 1s ease;
    margin: 0;
}

}

@media (min-width: 769px) and (max-width: 1024px) {

.gameField{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-size: cover;
    border-top: solid rgb(67, 58, 38) 3px;
    border-bottom: solid rgb(67, 58, 38) 3px;
    border-left: none;
    border-right: none;
}

.levelPointer{
    position: absolute;
    bottom: 0%;
    left: 5%;
    font-size: 7vw;
}

.fields {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translateX(-50%);  
    display: flex; 
    flex-direction: column;   
    align-items: center; 
}

.fieldH1{
    width: 100%;
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
    justify-content: center;
}

.fieldH2{
    width: 100%;
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
    justify-content: center;
}

.fieldH3{
    width: 100%;
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
    justify-content: center;
}

.fieldH4{
    width: 100%;
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
    justify-content: center;
}

.fieldH5{
    width: 100%;
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
    justify-content: center;
}

.fieldH6{
    width: 100%;
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
    justify-content: center;
}

.timer{
    width: 100%;
    position: absolute;
    top: 2.5%;
    left: 65%;
    font-size: 7vw;
}

.timer p{
    width: 100%;
    position: absolute;
    top: -35%;
    left: -50%;
    font-size: 5vw;
}

.leftPlateStart{
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 0%;
    left: 0;
}

.leftPlateEnd{
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 0%;
    left: 0;
}

.rightPlateStart{
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 0%;
    left: 0;
}

.imageInfoIntro{
    width: 30vw;
    position: absolute;
    bottom: -14%;
    left: 0%;
}

.imageInfoEnding{
    width: 30vw;
    position: absolute;
    bottom: -14%;
    left: 0%;
}

.imageInfoIntroOpacity{
    width: 30vw;
    position: absolute;
    bottom: -14%;
    left: 0%;
}

.infoOverlay{
    width: 40vw;
    height: 41vw;
    position: absolute;
    top: 65%;
    left: 22%;
}

.infoOverlayOpacity{
    width: 40vw;
    height: 41vw;
    position: absolute;
    top: 65%;
    left: 22%;
}

.info{
    width: 80%;
    font-size: 3vw;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.buttonStart{
    font-size: 18vw;
    position: absolute;
    top: 48%;
    left: 50%;
}

.buttonRestart{
    font-size: 7vw;
    position: absolute;
    top: 40%;
    left: 50%;
}

.buttonNextAndHome{
    width: 100%;
    font-size: 7vw;
    position: absolute;
    top: 50%;
    left: 50%;
}

.shuffleButton{
    position: absolute;
    top: 90%;
    left: 85%;
}

.shuffleButton button{
    width: 10vw;
    height: 10vw;
}

.shuffleButton p{
    font-size: 3vw;
    position: absolute;
    top: 55%;
    left: 50%;
}

.shuffleButton img {
    width: 8vw;
    height: 12vw;
    position: absolute;
    top: 50%;
    left: -250%;
    rotate: 90deg;
}

.winAndLoseModal{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.winAndLoseModal h3{
    width: 80%;
    font-size: 7vw;
    position: absolute;
    margin: 0;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.cellsLeftSide{
    width: 11vw;
    height: 11vw;
    padding: 0;
    margin: 0;
}

.cellsCenterSide{
    width: 11vw;
    height: 11vw;
    padding: 0;
    margin: 0;
}

.cellsRightSide{
    width: 11vw;
    height: 11vw;
    padding: 0;
    margin: 0;
}

.pointers{
    height: 100%;
    width: 100%;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex; 
    flex-direction: column;   
    align-items: center; 
}

.pointers img{
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 0%;
    left: 50%;
}

.pointers p{
    font-size: 3vw;
    position: absolute;
    top: 65%;
    left: 50%;
}

.scales{
    width: 18vw;
    height: 1.5vw;
    position: absolute;
    bottom: 35%;
    left: 50%;
}

.pointerBoxOfStrawberries{
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 10%;
    left: 10%;
}

.pointerBoxOfPear{
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.pointerBoxOfPlum{
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 10%;
    right: 10%;
}

.pointerBoxOfCurrant{
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 25%;
    left: 10%;
}

.pointerBoxOfSeaBuckthorn{
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.pointerBoxOfGooseberry{
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 25%;
    right: 10%;
}

.buttonRecipe{
    width: 100%;
    font-size: 7vw;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.recipeModal{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../assets/MatchThreeGameImages/BackgroundGamePage.jpg) no-repeat center;
    background-size: cover;
    z-index: 4;
    font-family: "El Messiri";
}

.recipeModal img{
    width: 40%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    border: solid wheat 2px;
    border-radius: 10px;
}

.recipeModal h1{ 
    width: 100%;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    color: gold;
    font-size: 6vw;
    font-weight: 700;
    text-align: center;
    -webkit-text-stroke: 1px black;
    margin: 0;
}

.recipeModal ol{
    position: absolute;
    top: 45%;
    left: 0%;
    color: gold;
    font-size: 1.8vw;
    font-weight: 700;
    margin: 0;
}

.recipeModal span{
    width: 45%;
    position: absolute;
    top: 45%;
    left: 52.5%;
    color: gold;
    font-size: 1.8vw;
    font-weight: 700;
    margin: 0;
}

.buttonCloseRecipe{
    color: red;
    font-size: 4vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    z-index: 2;
    position: absolute;
    bottom: 0%;
    left: 80%;
    transform: translate(-50%, -50%) scale(1);
    cursor: pointer;
    text-align: center;
    transition: transform 1s ease, color 1s ease, filter 1s ease;
    margin: 0;
}

}
