.gamePage{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url(../assets/SortingGameImages/BackgroundTexturesSortingGamePage.jpg) center no-repeat;
    background-size: cover;
}

.gameField{
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url(../assets/SortingGameImages/BackgroundTexturesSortingGameField.jpg) center no-repeat;
    background-size: cover;
    border-left: solid rgb(67, 58, 38) 3px;
    border-right: solid rgb(67, 58, 38) 3px;
}

.levelPointer{
    position: absolute;
    bottom: 2%;
    right: 1%;
    margin: 0;
    color: yellow;
    font-family: "El Messiri";
    font-size: 1.8vw;
    font-weight: 600;
    filter: drop-shadow(0 0 1vw black);
}

.fields{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 2.5%;
    left: 50%;
    transform: translateX(-50%);
}

.timer{
    position: absolute;
    top: 1%;
    left: 0.5%;
    font-family: "El MEssiri";
    font-size: 3.3vw;
    font-weight: 700;
    color: yellow;
    -webkit-text-stroke: 1px black;
}

.timer p{
    width: 50%;
    font-size: 1.5vw;
    -webkit-text-stroke: 0px black;
}

.leftDoorClose{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../assets/SortingGameImages/Door.jpg) no-repeat;
    background-size: cover;
    margin: 0;
    z-index: 2;
}

.rightDoorClose{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../assets/SortingGameImages/Door.jpg) no-repeat;
    background-size: cover;
    margin: 0;
    z-index: 2;
    transform: scaleX(-1);
}

.leftDoorOpening{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../assets/SortingGameImages/Door.jpg) no-repeat;
    background-size: cover;
    margin: 0;
    z-index: 2;
    animation: openingLeftDoor 2s forwards;
}

.rightDoorOpening{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../assets/SortingGameImages/Door.jpg) no-repeat;
    background-size: cover;
    margin: 0;
    z-index: 2;
    scale: -1 1;
    animation: openingRightDoor 2s forwards;
}

.leftDoorClosing{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../assets/SortingGameImages/Door.jpg) no-repeat;
    background-size: cover;
    margin: 0;
    z-index: 2;
    animation: closingLeftDoor 2s forwards;
}

.rightDoorClosing{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../assets/SortingGameImages/Door.jpg) no-repeat;
    background-size: cover;
    margin: 0;
    z-index: 2;
    scale: -1 1;
    animation: closingRightDoor 2s forwards;
}

@keyframes openingLeftDoor {
    0%, 100% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-150%);
    }
}

@keyframes openingRightDoor {
    0%, 100% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-150%);
    }
}  

@keyframes closingLeftDoor {
    0%, 100% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes closingRightDoor {
    0%, 100% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0%);
    }
}  

.imageInfoIntro{
    width: 18vw;
    position: absolute;
    bottom: 0;
    right: -5%;
    z-index: 3;
}

.imageInfoIntroOpacity{
    width: 18vw;
    position: absolute;
    bottom: 0;
    right: -5%;
    z-index: 3;
    animation: opacityMenu 0.5s forwards;
}

.infoOverlay{
    width: 22vw;
    height: 23vw;
    position: absolute;
    top: 15%;
    right: 15%;
    margin: 0;
    background: url(../assets/SortingGameImages/TextOverlay.png) no-repeat center;
    background-size: contain;
    justify-content: center;
    z-index: 3;
}

.infoOverlayOpacity{
    width: 22vw;
    height: 23vw;
    position: absolute;
    top: 15%;
    right: 15%;
    margin: 0;
    background: url(../assets/SortingGameImages/TextOverlay.png) no-repeat center;
    background-size: contain;
    justify-content: center;
    z-index: 3;
    animation: opacityMenu 0.5s forwards;
}

@keyframes opacityMenu {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.info{
    width: 58.5%;
    font-family: "El Messiri";
    font-weight: 700;
    font-size: 1.5vw;
    text-align: center;
    color: darkviolet;
    -webkit-text-stroke: 1px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: 0;
}

.buttonStart{
    font-family: "El Messiri";
    font-size: 15vw;
    font-weight: 700;
    cursor: pointer;
    color: blue;
    -webkit-text-stroke: 2px black;
    z-index: 1;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    margin: 0;
    transition: transform 1s ease, color 1s ease, filter 1s ease;
    z-index: 3;
    filter: drop-shadow(0 0 1vw black);
}

.buttonStart:hover{
    filter: drop-shadow(0 0 0 black);
    color: darkblue;
    transform: translate(-50%, -50%) scale(1.1);
}

.buttonRestart{
    color: cyan;
    font-family: "El Messiri";
    font-size: 4vw;
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    z-index: 2;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    cursor: pointer;
    text-align: center;
    transition: transform 1s ease, color 1s ease, filter 1s ease;
    filter: drop-shadow(0 0 1vw black);
}

.buttonRestart:hover{
    filter: drop-shadow( 0 0 0 black);
    color: cyan;
    transform: translate(-50%, -50%) scale(1.1);
}

.buttonNext{
    color: chartreuse;
    font-size: 4vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    z-index: 2;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    cursor: pointer;
    text-align: center;
    transition: transform 1s ease, color 1s ease, filter 1s ease;
    filter: drop-shadow(0 0 1vw black);
}

.buttonNext:hover{
    filter: drop-shadow( 0 0 0 black);
    color: chartreuse;
    transform: translate(-50%, -50%) scale(1.1);
}

.winAndLoseModal{
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.winAndLoseModal h3{
    width: 100%;
    font-family: "El MEssiri";
    font-size: 4.5vw;
    font-weight: 700;
    text-align: center;
    color: plum;
    -webkit-text-stroke: 1px black;
    position: absolute;
    margin: 0;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    filter: drop-shadow(0 0 1vw black);
}

.fieldH1{
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
}

.fieldH2{
    width: 100%;
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
}

.fieldH3{
    width: 100%;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
}

.fieldH4{
    width: 100%;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
}

.fieldH5{
    width: 100%;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
}

.fieldH6{
    width: 100%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
}

.fieldH7{
    width: 100%;
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
}


.cellsLeftSide{
    width: 6vw;
    height: 6vw;
    padding: 0;
    margin-left: 11%;
}

.cellsCenterSide{
    width: 6vw;
    height: 6vw;
    padding: 0;
}

.cellsRightSide{
    width: 6vw;
    height: 6vw;
    padding: 0;
    margin-right: 11%;
}

.redCells{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/RedJar.png) center no-repeat;
    background-size: contain;
    border: none;
    filter: drop-shadow(0vw 0.4vw 0.2vw black);
    cursor: pointer;
}

.redCells:hover{
    opacity: 0.8;
}

.blueCells{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/BlueJar.png) center no-repeat;
    background-size: contain;
    border: none;
    filter: drop-shadow(0vw 0.4vw 0.2vw black);
    cursor: pointer;
}

.blueCells:hover{
    opacity: 0.8;
}

.greenCells{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/GreenJar.png) center no-repeat;
    background-size: contain;
    border: none;
    filter: drop-shadow(0vw 0.4vw 0.2vw black);
    cursor: pointer;
}

.greenCells:hover{
    opacity: 0.8;
}

.yellowCells{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/YellowJar.png) center no-repeat;
    background-size: contain;
    border: none;
    filter: drop-shadow(0vw 0.4vw 0.2vw black);
    cursor: pointer;
}

.yellowCells:hover{
    opacity: 0.8;
}

.violetCells{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/VioletJar.png) center no-repeat;
    background-size: contain;
    border: none;
    filter: drop-shadow(0vw 0.4vw 0.2vw black);
    cursor: pointer;
}

.violetCells:hover{
    opacity: 0.8;
}

.grayCells{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/GrayJar.png) center no-repeat;
    background-size: contain;
    border: none;
    filter: drop-shadow(0vw 0.4vw 0.2vw black);
    cursor: pointer;
}

.grayCells:hover{
    opacity: 0.8;
}

.jarCells{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/EmptyJar.png) center no-repeat;
    background-size: contain;
    border: none;
    filter: drop-shadow(0vw 0.4vw 0.2vw black);
    cursor: pointer;
}

.redCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/RedJar.png) center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    animation: ShineOfJar 1s infinite;
}

.blueCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/BlueJar.png) center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    animation: ShineOfJar 1s infinite;
}

.greenCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/GreenJar.png) center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    animation: ShineOfJar 1s infinite;
}

.yellowCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/YellowJar.png) center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    animation: ShineOfJar 1s infinite;
}

.violetCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/VioletJar.png) center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    animation: ShineOfJar 1s infinite;
}

.grayCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/GrayJar.png) center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    animation: ShineOfJar 1s infinite;
}

@keyframes ShineOfJar {
    0%, 50%, 100% {
        filter: drop-shadow(0 0 0.5vw gold);
    }
    50% {
        filter: drop-shadow(0 0 1.5vw gold);
    }
    100% {
        filter: drop-shadow(0 0 0.5vw gold);
    }
}

.buttonRecipe{
    color: pink;
    font-size: 4vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    z-index: 2;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    cursor: pointer;
    text-align: center;
    transition: transform 1s ease, color 1s ease, filter 1s ease;
    filter: drop-shadow(0 0 1vw black);
    animation: shine 1s infinite;
}

.buttonRecipe:hover{
    filter: drop-shadow( 0vw 0vw 0vw black);
    color: pink;
    transform: translate(-50%, -50%) scale(1.1);
}

@keyframes shine {
    0%, 50%, 100% {
        filter: drop-shadow(0 0 0vw pink);
    }
    50% {
        filter: drop-shadow(0 0 1vw pink);
    }
    100%{
        filter: drop-shadow(0 0 0vw pink);
    }
}

.recipeModal{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../assets/SortingGameImages/BackgroundTexturesSortingGameField.jpg) no-repeat center;
    background-size: cover;
    z-index: 3;
    font-family: "El Messiri";
}

.recipeModal img{
    width: 30%;
    position: absolute;
    top: 5%;
    left: 2.5%;
    border: solid wheat 3px;
    border-radius: 10px;
}

.recipeModal h1{ 
    position: absolute;
    top: 1%;
    left: 50%;
    color: gold;
    font-size: 3vw;
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    margin: 0;
}

.recipeModal ol{
    position: absolute;
    top: 10%;
    left: 34%;
    color: gold;
    font-size: 1.2vw;
    font-weight: 700;
    margin: 0;
}

.recipeModal span{
    width: 60%;
    position: absolute;
    top: 60%;
    left: 34%;
    color: gold;
    font-size: 1.1vw;
    font-weight: 700;
    margin: 0;
}

.buttonCloseRecipe{
    color: red;
    font-size: 2.5vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    z-index: 2;
    position: absolute;
    bottom: 0%;
    left: 85%;
    transform: translate(-50%, -50%) scale(1);
    cursor: pointer;
    text-align: center;
    transition: transform 1s ease, color 1s ease, filter 1s ease;
    margin: 0;
}

.buttonCloseRecipe:hover{
    filter: drop-shadow( 0vw 0vw 0vw black);
    color: red;
    transform: translate(-50%, -50%) scale(1.1);
}


@media (max-width: 480px) {

.gamePage{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url(../assets/SortingGameImages/BackgroundTexturesSortingGamePage.jpg) left no-repeat;
    background-size: cover;
}

.gameField{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translatey(-50%);
    background: url(../assets/SortingGameImages/BackgroundTexturesSortingGameField.jpg) center no-repeat;
    background-size: cover;
    border-top: solid rgb(67, 58, 38) 3px;
    border-bottom: solid rgb(67, 58, 38) 3px;
    border-left: none;
    border-right: none;
}

.levelPointer{
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-text-stroke: 1px black;
    color: yellow;
    font-family: "El Messiri";
    font-size: 10vw;
    font-weight: 600;
    filter: drop-shadow(0 0 1vw black);
}

.fields{
    width: 90%;
    height: 100%;
    position: absolute;
    top: 2.5%;
    left: 50%;
    transform: translateX(-50%);
}

.timer{
    position: absolute;
    top: 2%;
    left: 70%;
    font-family: "El MEssiri";
    font-size: 11vw;
    font-weight: 700;
    color: yellow;
    -webkit-text-stroke: 1px black;
}

.timer p{
    width:500%;
    font-size: 5.5vw;
    -webkit-text-stroke: 0px black;
    position: fixed;
    top: 1%;
    left: 2%;
}

.leftDoorClose{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../assets/SortingGameImages/Door.jpg) right no-repeat;
    background-size: cover;
    margin: 0;
    z-index: 2;
}

.rightDoorClose{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../assets/SortingGameImages/Door.jpg) right no-repeat;
    background-size: cover;
    margin: 0;
    z-index: 2;
    transform: scaleX(-1);
}

.leftDoorOpening{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../assets/SortingGameImages/Door.jpg) right no-repeat;
    background-size: cover;
    margin: 0;
    z-index: 2;
    animation: openingLeftDoor 2s forwards;
}

.rightDoorOpening{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../assets/SortingGameImages/Door.jpg) right no-repeat;
    background-size: cover;
    margin: 0;
    z-index: 2;
    scale: -1 1;
    animation: openingRightDoor 2s forwards;
}

.leftDoorClosing{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../assets/SortingGameImages/Door.jpg) right no-repeat;
    background-size: cover;
    margin: 0;
    z-index: 2;
    animation: closingLeftDoor 2s forwards;
}

.rightDoorClosing{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../assets/SortingGameImages/Door.jpg) right no-repeat;
    background-size: cover;
    margin: 0;
    z-index: 2;
    scale: -1 1;
    animation: closingRightDoor 2s forwards;
}

.imageInfoIntro{
    width: 38vw;
    position: absolute;
    bottom: -13%;
    right: 2%;
    z-index: 3;
}

.imageInfoIntroOpacity{
    width: 38vw;
    position: absolute;
    bottom: -13%;
    right: 2%;
    z-index: 3;
    animation: opacityMenu 0.5s forwards;
}

.infoOverlay{
    width: 62vw;
    height: 63vw;
    position: absolute;
    top: 55%;
    right: 35%;
    margin: 0;
    background: url(../assets/SortingGameImages/TextOverlay.png) no-repeat center;
    background-size: contain;
    justify-content: center;
    z-index: 3;
}

.infoOverlayOpacity{
    width: 62vw;
    height: 63vw;
    position: absolute;
    top: 55%;
    right: 35%;
    margin: 0;
    background: url(../assets/SortingGameImages/TextOverlay.png) no-repeat center;
    background-size: contain;
    justify-content: center;
    z-index: 3;
    animation: opacityMenu 0.5s forwards;
}

.info{
    width: 58.5%;
    font-family: "El Messiri";
    font-weight: 700;
    font-size: 4vw;
    text-align: center;
    color: darkviolet;
    -webkit-text-stroke: 1px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: 0;
}

.buttonStart{
    font-family: "El Messiri";
    font-size: 17vw;
    font-weight: 700;
    cursor: pointer;
    color: blue;
    -webkit-text-stroke: 2px black;
    z-index: 1;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    margin: 0;
    transition: transform 1s ease, color 1s ease, filter 1s ease;
    z-index: 3;
    filter: drop-shadow(0 0 1vw black);
}

.buttonRestart{
    width: 100%;
    color: cyan;
    font-family: "El Messiri";
    font-size: 10vw;
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    z-index: 2;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    cursor: pointer;
    text-align: center;
    transition: transform 1s ease, color 1s ease, filter 1s ease;
    filter: drop-shadow(0 0 1vw black);
}

.buttonNext{
    width: 100%;
    color: chartreuse;
    font-size: 10vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    z-index: 2;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    cursor: pointer;
    text-align: center;
    transition: transform 1s ease, color 1s ease, filter 1s ease;
    filter: drop-shadow(0 0 1vw black);
}

.winAndLoseModal{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 3;
}

.winAndLoseModal h3{
    width: 100%;
    font-family: "El MEssiri";
    font-size: 7vw;
    font-weight: 700;
    text-align: center;
    color: plum;
    -webkit-text-stroke: 1px black;
    position: absolute;
    margin: 0;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    filter: drop-shadow(0 0 1vw black);
}

.fieldH1{
    width: 120%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
}

.fieldH2{
    width: 120%;
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
}

.fieldH3{
    width: 120%;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
}

.fieldH4{
    width: 120%;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
}

.fieldH5{
    width: 120%;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
}

.fieldH6{
    width: 120%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
}

.fieldH7{
    width: 120%;
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
}


.cellsLeftSide{
    width: 13vw;
    height: 13vw;
    padding: 0;
    padding-bottom: 2%;
    margin-left: 11%;
}

.cellsCenterSide{
    width: 13vw;
    height: 13vw;
    padding: 0;
    padding-bottom: 2%;
}

.cellsRightSide{
    width: 13vw;
    height: 13vw;
    padding: 0;
    padding-bottom: 2%;
    margin-right: 11%;
}

.redCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/RedJar.png) center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.blueCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/BlueJar.png) center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.greenCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/GreenJar.png) center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.yellowCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/YellowJar.png) center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;

}

.violetCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/VioletJar.png) center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.grayCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/GrayJar.png) center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.buttonRecipe{
    width: 100%;
    color: pink;
    font-size: 10vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    z-index: 2;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    cursor: pointer;
    text-align: center;
    transition: transform 1s ease, color 1s ease, filter 1s ease;
    filter: drop-shadow(0 0 1vw black);
}

.recipeModal{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../assets/SortingGameImages/BackgroundTexturesSortingGameField.jpg) no-repeat center;
    background-size: cover;
    z-index: 3;
    font-family: "El Messiri";
}

.recipeModal img{
    width: 40%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    border: solid wheat 2px;
    border-radius: 10px;
}

.recipeModal h1{ 
    width: 100%;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    color: gold;
    font-size: 7vw;
    font-weight: 700;
    text-align: center;
    -webkit-text-stroke: 0 black;
    margin: 0;
}

.recipeModal ol{
    position: absolute;
    top: 40%;
    left: 0%;
    color: gold;
    font-size: 2vw;
    font-weight: 700;
    margin: 0;
}

.recipeModal span{
    width: 80%;
    position: absolute;
    top: 68%;
    left: 10%;
    color: gold;
    font-size: 2vw;
    font-weight: 700;
    margin: 0;
}

.buttonCloseRecipe{
    color: red;
    font-size: 4vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 0 black;
    z-index: 2;
    position: absolute;
    bottom: 0%;
    left: 80%;
    transform: translate(-50%, -50%) scale(1);
    cursor: pointer;
    text-align: center;
    transition: transform 1s ease, color 1s ease, filter 1s ease;
    margin: 0;
}

}

@media (min-width: 481px) and (max-width: 768px) {

.gamePage{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url(../assets/SortingGameImages/BackgroundTexturesSortingGamePage.jpg) left no-repeat;
    background-size: cover;
}

.gameField{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translatey(-50%);
    background: url(../assets/SortingGameImages/BackgroundTexturesSortingGameField.jpg) center no-repeat;
    background-size: cover;
    border-top: solid rgb(67, 58, 38) 3px;
    border-bottom: solid rgb(67, 58, 38) 3px;
    border-left: none;
    border-right: none;
}

.levelPointer{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-text-stroke: 1px black;
    color: yellow;
    font-family: "El Messiri";
    font-size: 10vw;
    font-weight: 600;
    filter: drop-shadow(0 0 1vw black);
}

.fields{
    width: 90%;
    height: 100%;
    position: absolute;
    top: 2.5%;
    left: 50%;
    transform: translateX(-50%);
}

.timer{
    position: absolute;
    top: 0%;
    left: 70%;
    font-family: "El MEssiri";
    font-size: 10vw;
    font-weight: 700;
    color: yellow;
    -webkit-text-stroke: 1px black;
}

.timer p{
    width:500%;
    font-size: 5vw;
    -webkit-text-stroke: 0px black;
    position: fixed;
    top: -1%;
    left: 2%;
}

.leftDoorClose{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../assets/SortingGameImages/Door.jpg) right no-repeat;
    background-size: cover;
    margin: 0;
    z-index: 2;
}

.rightDoorClose{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../assets/SortingGameImages/Door.jpg) right no-repeat;
    background-size: cover;
    margin: 0;
    z-index: 2;
    transform: scaleX(-1);
}

.leftDoorOpening{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../assets/SortingGameImages/Door.jpg) right no-repeat;
    background-size: cover;
    margin: 0;
    z-index: 2;
    animation: openingLeftDoor 2s forwards;
}

.rightDoorOpening{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../assets/SortingGameImages/Door.jpg) right no-repeat;
    background-size: cover;
    margin: 0;
    z-index: 2;
    scale: -1 1;
    animation: openingRightDoor 2s forwards;
}

.leftDoorClosing{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../assets/SortingGameImages/Door.jpg) right no-repeat;
    background-size: cover;
    margin: 0;
    z-index: 2;
    animation: closingLeftDoor 2s forwards;
}

.rightDoorClosing{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../assets/SortingGameImages/Door.jpg) right no-repeat;
    background-size: cover;
    margin: 0;
    z-index: 2;
    scale: -1 1;
    animation: closingRightDoor 2s forwards;
}

.imageInfoIntro{
    width: 38vw;
    position: absolute;
    bottom: -13%;
    right: 2%;
    z-index: 3;
}

.imageInfoIntroOpacity{
    width: 38vw;
    position: absolute;
    bottom: -13%;
    right: 2%;
    z-index: 3;
    animation: opacityMenu 0.5s forwards;
}

.infoOverlay{
    width: 60vw;
    height: 61vw;
    position: absolute;
    top: 40%;
    right: 40%;
    margin: 0;
    background: url(../assets/SortingGameImages/TextOverlay.png) no-repeat center;
    background-size: contain;
    justify-content: center;
    z-index: 3;
}

.infoOverlayOpacity{
    width: 60vw;
    height: 61vw;
    position: absolute;
    top: 40%;
    right: 40%;
    margin: 0;
    background: url(../assets/SortingGameImages/TextOverlay.png) no-repeat center;
    background-size: contain;
    justify-content: center;
    z-index: 3;
    animation: opacityMenu 0.5s forwards;
}

.info{
    width: 58.5%;
    font-family: "El Messiri";
    font-weight: 700;
    font-size: 4vw;
    text-align: center;
    color: darkviolet;
    -webkit-text-stroke: 1px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: 0;
}

.buttonStart{
    font-family: "El Messiri";
    font-size: 17vw;
    font-weight: 700;
    cursor: pointer;
    color: blue;
    -webkit-text-stroke: 2px black;
    z-index: 1;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    margin: 0;
    transition: transform 1s ease, color 1s ease, filter 1s ease;
    z-index: 3;
    filter: drop-shadow(0 0 1vw black);
}

.buttonRestart{
    width: 100%;
    color: cyan;
    font-family: "El Messiri";
    font-size: 8vw;
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    z-index: 2;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    cursor: pointer;
    text-align: center;
    transition: transform 1s ease, color 1s ease, filter 1s ease;
    filter: drop-shadow(0 0 1vw black);
}

.buttonNext{
    width: 100%;
    color: chartreuse;
    font-size: 8vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    z-index: 2;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    cursor: pointer;
    text-align: center;
    transition: transform 1s ease, color 1s ease, filter 1s ease;
    filter: drop-shadow(0 0 1vw black);
}

.winAndLoseModal{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 3;
}

.winAndLoseModal h3{
    width: 100%;
    font-family: "El MEssiri";
    font-size: 6.5vw;
    font-weight: 700;
    text-align: center;
    color: plum;
    -webkit-text-stroke: 1px black;
    position: absolute;
    margin: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    filter: drop-shadow(0 0 1vw black);
}

.fieldH1{
    width: 120%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
}

.fieldH2{
    width: 120%;
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
}

.fieldH3{
    width: 120%;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
}

.fieldH4{
    width: 120%;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
}

.fieldH5{
    width: 120%;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
}

.fieldH6{
    width: 120%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
}

.fieldH7{
    width: 120%;
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
}


.cellsLeftSide{
    width: 13vw;
    height: 13vw;
    padding: 0;
    padding-bottom: 2%;
    margin-left: 11%;
}

.cellsCenterSide{
    width: 13vw;
    height: 13vw;
    padding: 0;
    padding-bottom: 2%;
}

.cellsRightSide{
    width: 13vw;
    height: 13vw;
    padding: 0;
    padding-bottom: 2%;
    margin-right: 11%;
}

.redCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/RedJar.png) center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.blueCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/BlueJar.png) center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.greenCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/GreenJar.png) center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.yellowCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/YellowJar.png) center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.violetCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/VioletJar.png) center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.grayCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/GrayJar.png) center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.buttonRecipe{
    width: 100%;
    color: pink;
    font-size: 8vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    z-index: 2;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    cursor: pointer;
    text-align: center;
    transition: transform 1s ease, color 1s ease, filter 1s ease;
    filter: drop-shadow(0 0 1vw black);
}

.recipeModal{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../assets/SortingGameImages/BackgroundTexturesSortingGameField.jpg) no-repeat center;
    background-size: cover;
    z-index: 3;
    font-family: "El Messiri";
}

.recipeModal img{
    width: 40%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    border: solid wheat 2px;
    border-radius: 10px;
}

.recipeModal h1{ 
    width: 100%;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    color: gold;
    font-size: 6vw;
    font-weight: 700;
    text-align: center;
    -webkit-text-stroke: 1px black;
    margin: 0;
}

.recipeModal ol{
    position: absolute;
    top: 45%;
    left: 0%;
    color: gold;
    font-size: 1.8vw;
    font-weight: 700;
    margin: 0;
}

.recipeModal span{
    width: 45%;
    position: absolute;
    top: 45%;
    left: 52.5%;
    color: gold;
    font-size: 1.8vw;
    font-weight: 700;
    margin: 0;
}

.buttonCloseRecipe{
    color: red;
    font-size: 4vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    z-index: 2;
    position: absolute;
    bottom: 0%;
    left: 80%;
    transform: translate(-50%, -50%) scale(1);
    cursor: pointer;
    text-align: center;
    transition: transform 1s ease, color 1s ease, filter 1s ease;
    margin: 0;
}

}

@media (min-width: 769px) and (max-width: 1024px) {

.gamePage{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url(../assets/SortingGameImages/BackgroundTexturesSortingGamePage.jpg) left no-repeat;
    background-size: cover;
}

.gameField{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translatey(-50%);
    background: url(../assets/SortingGameImages/BackgroundTexturesSortingGameField.jpg) center no-repeat;
    background-size: cover;
    border-top: solid rgb(67, 58, 38) 3px;
    border-bottom: solid rgb(67, 58, 38) 3px;
    border-left: none;
    border-right: none;
}

.levelPointer{
    position: absolute;
    bottom: 0%;;
    left: 50%;
    transform: translateX(-50%);
    -webkit-text-stroke: 1px black;
    color: yellow;
    font-family: "El Messiri";
    font-size: 10vw;
    font-weight: 600;
    filter: drop-shadow(0 0 1vw black);
}

.fields{
    width: 90%;
    height: 100%;
    position: absolute;
    top: 2.5%;
    left: 50%;
    transform: translateX(-50%);
}

.timer{
    position: absolute;
    top: 0%;
    left: 70%;
    font-family: "El MEssiri";
    font-size: 10vw;
    font-weight: 700;
    color: yellow;
    -webkit-text-stroke: 1px black;
}

.timer p{
    width:500%;
    font-size: 5vw;
    -webkit-text-stroke: 0px black;
    position: fixed;
    top: -1%;
    left: 3%;
}

.leftDoorClose{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../assets/SortingGameImages/Door.jpg) right no-repeat;
    background-size: cover;
    margin: 0;
    z-index: 2;
}

.rightDoorClose{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../assets/SortingGameImages/Door.jpg) right no-repeat;
    background-size: cover;
    margin: 0;
    z-index: 2;
    transform: scaleX(-1);
}

.leftDoorOpening{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../assets/SortingGameImages/Door.jpg) right no-repeat;
    background-size: cover;
    margin: 0;
    z-index: 2;
    animation: openingLeftDoor 2s forwards;
}

.rightDoorOpening{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../assets/SortingGameImages/Door.jpg) right no-repeat;
    background-size: cover;
    margin: 0;
    z-index: 2;
    scale: -1 1;
    animation: openingRightDoor 2s forwards;
}

.leftDoorClosing{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../assets/SortingGameImages/Door.jpg) right no-repeat;
    background-size: cover;
    margin: 0;
    z-index: 2;
    animation: closingLeftDoor 2s forwards;
}

.rightDoorClosing{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../assets/SortingGameImages/Door.jpg) right no-repeat;
    background-size: cover;
    margin: 0;
    z-index: 2;
    scale: -1 1;
    animation: closingRightDoor 2s forwards;
}

.imageInfoIntro{
    width: 38vw;
    position: absolute;
    bottom: -13%;
    right: 2%;
    z-index: 3;
}

.imageInfoIntroOpacity{
    width: 38vw;
    position: absolute;
    bottom: -13%;
    right: 2%;
    z-index: 3;
    animation: opacityMenu 0.5s forwards;
}

.infoOverlay{
    width: 60vw;
    height: 61vw;
    position: absolute;
    top: 40%;
    right: 40%;
    margin: 0;
    background: url(../assets/SortingGameImages/TextOverlay.png) no-repeat center;
    background-size: contain;
    justify-content: center;
    z-index: 3;
}

.infoOverlayOpacity{
    width: 60vw;
    height: 61vw;
    position: absolute;
    top: 40%;
    right: 40%;
    margin: 0;
    background: url(../assets/SortingGameImages/TextOverlay.png) no-repeat center;
    background-size: contain;
    justify-content: center;
    z-index: 3;
    animation: opacityMenu 0.5s forwards;
}

.info{
    width: 58.5%;
    font-family: "El Messiri";
    font-weight: 700;
    font-size: 4vw;
    text-align: center;
    color: darkviolet;
    -webkit-text-stroke: 1px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: 0;
}

.buttonStart{
    font-family: "El Messiri";
    font-size: 17vw;
    font-weight: 700;
    cursor: pointer;
    color: blue;
    -webkit-text-stroke: 2px black;
    z-index: 1;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    margin: 0;
    transition: transform 1s ease, color 1s ease, filter 1s ease;
    z-index: 3;
    filter: drop-shadow(0 0 1vw black);
}

.buttonRestart{
    width: 100%;
    color: cyan;
    font-family: "El Messiri";
    font-size: 8vw;
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    z-index: 2;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    cursor: pointer;
    text-align: center;
    transition: transform 1s ease, color 1s ease, filter 1s ease;
    filter: drop-shadow(0 0 1vw black);
}

.buttonNext{
    width: 100%;
    color: chartreuse;
    font-size: 8vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    z-index: 2;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    cursor: pointer;
    text-align: center;
    transition: transform 1s ease, color 1s ease, filter 1s ease;
    filter: drop-shadow(0 0 1vw black);
}

.winAndLoseModal{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 3;
}

.winAndLoseModal h3{
    width: 100%;
    font-family: "El MEssiri";
    font-size: 6.5vw;
    font-weight: 700;
    text-align: center;
    color: plum;
    -webkit-text-stroke: 1px black;
    position: absolute;
    margin: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    filter: drop-shadow(0 0 1vw black);
}

.fieldH1{
    width: 120%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
}

.fieldH2{
    width: 120%;
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
}

.fieldH3{
    width: 120%;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
}

.fieldH4{
    width: 120%;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
}

.fieldH5{
    width: 120%;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
}

.fieldH6{
    width: 120%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
}

.fieldH7{
    width: 120%;
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    filter: drop-shadow(0.2vw 0.7vw 0.2vw black);
}

.cellsLeftSide{
    width: 13vw;
    height: 13vw;
    padding: 0;
    padding-bottom: 2%;
    margin-left: 11%;
}

.cellsCenterSide{
    width: 13vw;
    height: 13vw;
    padding: 0;
    padding-bottom: 2%;
}

.cellsRightSide{
    width: 13vw;
    height: 13vw;
    padding: 0;
    padding-bottom: 2%;
    margin-right: 11%;
}

.redCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/RedJar.png) center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.blueCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/BlueJar.png) center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.greenCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/GreenJar.png) center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.yellowCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/YellowJar.png) center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.violetCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/VioletJar.png) center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.grayCellsChoice{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/GrayJar.png) center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.buttonRecipe{
    width: 100%;
    color: pink;
    font-size: 8vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    z-index: 2;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    cursor: pointer;
    text-align: center;
    transition: transform 1s ease, color 1s ease, filter 1s ease;
    filter: drop-shadow(0 0 1vw black);
}

.recipeModal{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../assets/SortingGameImages/BackgroundTexturesSortingGameField.jpg) no-repeat center;
    background-size: cover;
    z-index: 3;
    font-family: "El Messiri";
}

.recipeModal img{
    width: 40%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    border: solid wheat 2px;
    border-radius: 10px;
}

.recipeModal h1{ 
    width: 100%;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    color: gold;
    font-size: 6vw;
    font-weight: 700;
    text-align: center;
    -webkit-text-stroke: 1px black;
    margin: 0;
}

.recipeModal ol{
    position: absolute;
    top: 45%;
    left: 0%;
    color: gold;
    font-size: 1.8vw;
    font-weight: 700;
    margin: 0;
}

.recipeModal span{
    width: 45%;
    position: absolute;
    top: 45%;
    left: 52.5%;
    color: gold;
    font-size: 1.8vw;
    font-weight: 700;
    margin: 0;
}

.buttonCloseRecipe{
    color: red;
    font-size: 4vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    z-index: 2;
    position: absolute;
    bottom: 0%;
    left: 80%;
    transform: translate(-50%, -50%) scale(1);
    cursor: pointer;
    text-align: center;
    transition: transform 1s ease, color 1s ease, filter 1s ease;
    margin: 0;
}


}
