.gamePage{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url(../assets/TexturesOfSide.png) no-repeat center;
    background-size: cover;
}

.gameField{
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: darkslategrey;
    background-size: cover;
    border-left: solid rgb(67, 58, 38) 3px;
    border-right: solid rgb(67, 58, 38) 3px;
}

.fields{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 2.5%;
    left: 50%;
    transform: translateX(-50%);
}

.fieldH1{
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    background: url(../assets/SortingGameImages/Shelf.png) center no-repeat;
    background-size: contain;
}

.fieldH2{
    width: 100%;
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    background: url(../assets/SortingGameImages/Shelf.png) center no-repeat;
    background-size: contain;
}

.fieldH3{
    width: 100%;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    background: url(../assets/SortingGameImages/Shelf.png) center no-repeat;
    background-size: contain;
}

.fieldH4{
    width: 100%;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    background: url(../assets/SortingGameImages/Shelf.png) center no-repeat;
    background-size: contain;
}

.fieldH5{
    width: 100%;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    background: url(../assets/SortingGameImages/Shelf.png) center no-repeat;
    background-size: contain;
}

.fieldH6{
    width: 100%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    background: url(../assets/SortingGameImages/Shelf.png) center no-repeat;
    background-size: contain;
}

.fieldH7{
    width: 100%;
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    display: flex;
    background: url(../assets/SortingGameImages/Shelf.png) center no-repeat;
    background-size: contain;
}


.cellsLeftSide{
    width: 6vw;
    height: 6vw;
    padding: 0;
    margin-left: 11%;
}

.cellsCenterSide{
    width: 6vw;
    height: 6vw;
    padding: 0;
}

.cellsRightSide{
    width: 6vw;
    height: 6vw;
    padding: 0;
    margin-right: 11%;
}

.redCells{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/RedJar.png) center no-repeat;
    background-size: contain;
    border: none;
    filter: drop-shadow(0vw 0.4vw 0.2vw black);
    cursor: pointer;
}

.redCells:hover{
    opacity: 0.5;
}

.blueCells{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/BlueJar.png) center no-repeat;
    background-size: contain;
    border: none;
    filter: drop-shadow(0vw 0.4vw 0.2vw black);
    cursor: pointer;
}

.blueCells:hover{
    opacity: 0.5;
}

.greenCells{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/GreenJar.png) center no-repeat;
    background-size: contain;
    border: none;
    filter: drop-shadow(0vw 0.4vw 0.2vw black);
    cursor: pointer;
}

.greenCells:hover{
    opacity: 0.5;
}

.yellowCells{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/YellowJar.png) center no-repeat;
    background-size: contain;
    border: none;
    filter: drop-shadow(0vw 0.4vw 0.2vw black);
    cursor: pointer;
}

.yellowCells:hover{
    opacity: 0.5;
}

.violetCells{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/VioletJar.png) center no-repeat;
    background-size: contain;
    border: none;
    filter: drop-shadow(0vw 0.4vw 0.2vw black);
    cursor: pointer;
}

.violetCells:hover{
    opacity: 0.5;
}

.grayCells{
    width: 100%;
    height: 100%;
    background: url(../assets/SortingGameImages/GrayJar.png) center no-repeat;
    background-size: contain;
    border: none;
    filter: drop-shadow(0vw 0.4vw 0.2vw black);
    cursor: pointer;
}

.grayCells:hover{
    opacity: 0.5;
}

.jarCells{
    width: 100%;
    height: 100%;
    background: lightseagreen;
    border-radius: 10px;
}

